<!DOCTYPE html>
<html>
  <head>
    <title>GamersHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>

  <body>
      <body style="background-image:url('background.jpg');">
        <h1 style="text-align: center">GamersHub</h1>
        <h2 style="text-align: center">Connecting Gamers</h2>

        <ul>
          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Friends</a>
            <div class="dropdown-content">
              <a href="#All Friends">All Friends</a>
              <a href="#Request sent">Request sent</a>
              <a href="#Request recieved">Request recieved</a>
            </div>
          </li>

          <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Lobby</a>
            <div class="dropdown-content">
              <a href="#Lobby Lists">Lobby Lists</a>
              <a href="#Create Lobby">Create Lobby</a>
            </div>
            </li>

            <li class="dropdown">
              <a href="javascript:void(0)" class="dropbtn">Settings</a>
              <div class="dropdown-content">
                <a href="#Accounts">Accounts</a>
                <a href="#Preferences">Preferences</a>
                <a href="#Log Out">Log Out</a>
              </div>
            </li>
            <li><a href="#Help">Help</a></li>
  </ul>

  <div class="vertical-menu">
  <a href="#" class="active">Friends Online</a>
  <a href="#">LongBowMan</a>
  <a href="#">Pressy</a>
  <a href="#">Goat</a>
  <a href="#">MostWanted</a>
  <a href="#">JosephKuruvilla</a>
  <a href="#">Achilles</a>
  <a href="#">GoatButcher</a>
  <a href="#">SugarBaby</a>
  <a href="#">DrDuck</a>
  <a href="#">Shroud</a>
  <a href="#">Ninja</a>
  <a href="#">Rain</a>
  <a href="#">Viper</a>
  <a href="#">Jordan</a>
  <a href="#">TheDragon</a>
  <a href="#">BabyBoy</a>
  <a href="#">Dexter</a>
  <a href="#">Shrekken</a>
  <a href="#">Nighty</a>
  <a href="#">Radon</a>
  <a href="#">Voldermort</a>
  <a href="#">Jackie</a>
  <a href="#">Dragoon</a>
</div>

<h3>World Messages</h3>

<div class="container">
  <img src="people1.jpg" alt="Avatar" style="width:100%;">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="container darker">
  <img src="people2.jpg" alt="Avatar" class="right" style="width:100%;">
  <p>Anyone interested in joining my lobby!</p>
  <span class="time-left">11:01</span>
</div>

<div class="container">
  <img src="people3.jpg" alt="Avatar" style="width:100%;">
  <p>Shroud! Holy moly!</p>
  <span class="time-right">11:02</span>
</div>

<div class="container darker">
  <img src="people4.jpg" alt="Avatar" class="right" style="width:100%;">
  <p>Counter strike championship starts tomorrow</p>
  <span class="time-left">11:05</span>
</div>

<form>
  <textarea>Some text...</textarea>
</form>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="profilepicture.jpg" alt="John" style="width:100%">
  <h4>GOAT</h4>
  <p class="title">The Skull Collector</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <p><button>Contact</button></p>
</div>

<h5>Latest Videos</h5>

<video width="400" controls>
  <source src="video1.webm" type="video/webm">
  <source src="mov_bbb.ogg" type="video/ogg">
</video>

  </body>
  </html>
